<div class="mt-4 p-5 bg-primary text-white rounded mb-2">
    <h1>Εφαρμογή υπολογισμών και μετατροπών</h1> 
    <p>Σε αυτή την εφαρμογή μπορείτε να χρησιμοποιήσετε τις κατηγορίες μετατροπών και υπολογισμών που σας παρέχουμε. </p>
  </div>
<div class="alert alert-success">
    <strong>Μετατροπές:</strong> Χρησιμοποιήστε αυτή την εφαρμογή για να εκτελεσετε μετατροπές φυσικών μεγεθών.
</div>
<div class="alert alert-warning">
    <strong>Υπολογισμοί:</strong> Χρησιμοποιήστε αυτή την εφαρμογή για να υπολογίσετε φυσικά μεγέθη.
</div>